/* make sure that the input forms dont go any wider
   than their box*/
input {
  max-width: 150px;
}
select {
  max-width: 165px;
}

/* adjust the width of the input forms*/
.form-horizontal .control-label {
  width: 100px;
  text-align: left;
  white-space: nowrap;
}

.form-horizontal .controls {
  margin-left: 150px;
  width: 100px;
}

/* decrease the spacing between elements*/
.form-horizontal .control-group {
  margin-bottom: -5px; //adjust to your liking
}
/* but makee sure to add more space when
   there is an error*/
.form-horizontal .control-group.error {
  margin-bottom: inherit;
}

a.sidebar-label {
  color: #000000;
  text-decoration: none;
}



/* sticky footer */
/* thanks to http://ryanfait.com/sticky-footer/layout.css */

* {
  margin: 0;
}
html, body {
  height: 100%;
}

.clear-for-footer {
  min-height: 60px;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
  height: 60px; /* .push must be the same height as .footer */
  background-color: #f5f5f5;
}

.footer .credit {
  padding-top: 20px;
}